{% extends "base.html" %}
{% load crispy_forms_tags%}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center p-3">
        <div class="card" style="max-width: 450px;">
            <div class="card-header">
                <h3 class="text-center font-weight-bold" style="color:#ff5722;">{% trans "Password Reset" %}</h3>
            </div>
            <div class="card-body">
                <div class="card-text">
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                
                    <p>{% trans "Forgotten your password? Enter your e-mail address in the space provided below, and we'll send you a link allowing you to reset it." %}</p>
                
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" class="btn btn-default" value="{% trans 'Reset My Password' %}" />
                    </form>
                
                    <p>Please <a href="{% url 'contact' %}" style="color: chocolate;">contact us</a> if you have any trouble resetting your password.</p>
                
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
 